body {
  padding-top: 50px;
}

.nossheader-logo
{
    padding-top: 12px;
	padding-left: 12px;
}

.nossheader-text
{
    position: relative;
    font-weight: 300;
    top: -39px;
    font-size: 210%;
    color: #666;
    left: 250px;
}
